body {
    #app {
        height: 100dvh;
        display: grid;
    }
}


.toast-container {
    z-index: 9999 !important;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5) !important;
    z-index: 60 !important;
}

dialog {
    z-index: 61 !important;
}


.main-container {
    @apply p-4 px-6 md:px-12;
}